@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;600;700&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'STIX Two Text', serif;
}